$logColor: rgb(143, 88, 33);
$barkColor: rgb(53, 32, 6);
$logTop: 400px;
$baseFlameSize: 150px;
$emberColor: #da633e;
$flameMainColor: #da633e;
$flameLeftColor: #da7c3e;
$flameRightColor: #ec9634;
$flameBaseColor: #db4a30;
$embeSize: 10px;

html,
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  background-color: black;
  color: rgb(52, 143, 52);
}
header {
  text-align: center;
  text-transform: uppercase;
}

.log {
  background-color: $logColor;
  width: 400px;
  height: 90px;
  border-radius: 30px;
  position: absolute;
  top: $logTop;
  left: 50%;
  transform: translate(-50%, 0%);

  .bark {
    background-color: $barkColor;
    border-radius: 10px;
    position: absolute;
  }
  .bark1 {
    width: 30%;
    height: 10%;
    top: 20%;
    left: 25%;
  }
  .bark2 {
    width: 50%;
    height: 10%;
    top: 50%;
    left: 30%;
  }
  .bark3 {
    width: 30%;
    height: 10%;
    bottom: 20%;
    right: 10%;
  }
}

.log:after {
  background-color: $barkColor;
  width: 60px;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  content: '';
}
.flame {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
}

.fire {
  position: absolute;
  top: $logTop - $baseFlameSize / 1.5;
  left: calc(50% - 50px);
  width: $baseFlameSize;
  height: $baseFlameSize;
  .ember {
    position: absolute;
    top: 0%;
    left: 45%;
    width: $embeSize;
    height: $embeSize;
    background-color: lighten($emberColor, 20%);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px lighten($emberColor, 10%));
  }

  .flame-main {
    position: absolute;
    height: 120%;
    width: 120%;
    bottom: 0%;
    left: -20px;
    animation: flameUpDown 3s ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    .flame {
      background-image: radial-gradient(
        $flameMainColor 0%,
        darken($flameMainColor, 5%) 95%
      );
      filter: drop-shadow(0 0 15px darken($flameMainColor, 10%));
    }
  }
  .flame-left {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -80px;
    animation: flameShake 5s ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    .flame {
      background-image: radial-gradient(
        $flameLeftColor 0%,
        darken($flameLeftColor, 15%) 95%
      );
      filter: drop-shadow(0 0 15px darken($flameLeftColor, 10%));
    }
  }
  .flame-right {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 60px;
    animation: flameShake 4s ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    .flame {
      background-image: radial-gradient(
        $flameRightColor 0%,
        darken($flameRightColor, 15%) 95%
      );
      filter: drop-shadow(0 0 15px darken($flameRightColor, 10%));
    }
  }
  .flame-base {
    position: absolute;
    height: 90%;
    width: 90%;
    bottom: -20px;
    border-left: -10px;
    .flame {
      animation: glow 5s ease-out 0;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      background-color: $flameBaseColor;
      filter: blur(9px);
      border-radius: 0 40% 100% 40%;
    }
  }
}

footer {
  font-size: 12px;
  position: fixed;
  bottom: 0;
}

@keyframes flameShake {
  0%,
  100% {
    transform: skewX(0deg) scale(1);
  }
  50% {
    transform: skewX(8deg) scale(0.85);
  }
}

@keyframes flameUpDown {
  0%,
  100% {
    transform: scaleY(1) scaleX(1);
  }
  50%,
  90% {
    transform: scaleY(1.1);
  }
  75% {
    transform: scaleY(0.95);
  }
  80% {
    transform: scaleX(0.95);
  }
}

@keyframes glow {
  0%,
  100% {
    background-color: $flameBaseColor;
  }
  50% {
    background-color: darken($flameBaseColor, 10%);
  }
}

.emberAnimation {
  animation: emberUp 3s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.emberSlowAnimation {
  animation: emberUp 4s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes emberUp {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -170%;
    transform: scale(0.2);
  }
}
